*{
    text-align : center;
}
    
.container{
    margin-top: 100px;

}
.input_space{
    margin-bottom: 100px;
}
input{
    height: 30px;
    width: 15%;
    font-size: 18px;
}
button{
    height: 30px;
    width: 12%;
    background-color: rgb(103, 103, 226);
}
